.App{
  display: flex;
  background-color: rgb(153, 122, 185);
  flex-direction: column;

  justify-content: center;
  align-items: center;
  height: 100svh;
  padding-top: 0px;
}
h1{
  padding-bottom: 0px;
}
.container {
  background-color: currColor;
  width: 60%;
  height: 80vh;
  display: flex;
  flex-direction: column;

  border: 1px solid black;

  box-shadow: 2px 2px 8px black;

  margin: 10vh auto;

  justify-content: center;
  align-items: center;
}

body{
  background-color: blanchedalmond;
}

button{
  width: 40px;
  height: 40px;
  font-size: large;
  background-color: rgb(46, 169, 46);
  color: white;
  margin: 30px 30px;
  box-shadow: 1px 1px 1px black;
}